
/* Copied from React.js website */

.my-container {
	padding-top: 50px;
	min-width: 960px;
}

.nav-main {
	background: #222;
	color: #fafafa;
	position: fixed;
	top: 0;
	height: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	width: 100%;
	z-index: 100;
}

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-main .nav-home {
	/*color: #A300CC;*/
	color: white;
	font-size: 24px;
	line-height: 50px;
	height: 50px;
	display: inline-block;
	font-weight: bold;
}

.nav-main .nav-home a {
	text-decoration: none !important;
	color: white;
}

.nav-main .nav-site {
	float: right;
	margin: 0;
}

.nav-main li {
	display: inline;
	line-height: 50px;
	padding-right: 20px
}

.nav-main li a{
	color: grey;
	font-weight: bold;
	text-decoration: none !important;
}


#searchBarComponent {
	padding-bottom: 30px;
}


.runner-table-div {
	height: 500px;
    overflow: scroll;
}

.page-title-bar {
	background: #337ab7;
	color: #fafafa;
	position: fixed;
	top: 0;
	height: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	width: 100%;
	z-index: 100;
	margin-top: 50px;
	display:none;
}

.page-title-bar .page-title-div {
	/*color: #A300CC;*/
	color: white;
	font-size: 24px;
	line-height: 50px;
	height: 50px;
	display: inline-block;
	font-weight: bold;
}

#pageHeader {
	margin-top: 15px;
}

#bufferDiv {
	height:50px;
	display:none;
}


.navbar-wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.promo {
	width: 1600px;
	height: 400px;
	background-image: url("../resources/green-background.png");
}

.my-jumbotron {
	color: white;
}

.my-jumbotron h1 {
	font-size: 50px;
	margin-top: 0px;
	padding-top: 150px;
	font-family: 'Roboto', sans-serif;
}

.my-jumbotron p {
	margin-bottom: 15px;
  	font-size: 21px;
  	font-weight: 200;
  	font-family: 'Roboto', sans-serif;
}

/* Form style */

.form-save-btn {
	background-color: gainsboro;
}

.form-box-wrap {
	padding-top: 75px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.form-box-wrap h3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-bottom: 100px;
}

.form-field-sizes {
	width: 300px;
	margin-bottom: 5px;
}

/*.create-team-header {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}*/




